body {
	background-color: #cccccc;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
}

body.title-background {
	background-image: url("images/title-page.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

body.lapis {
	background-image: url("images/lapis.png");
	background-size: cover;
	background-repeat: no-repeat;
}

body.smoky-quartz {
	background-image: url("images/smoky-quartz.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.result-page {
	background-color: #FFFFEA;
	color: #8B1B4D;
	width: 400px;
	padding: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 220px;
	border-radius: 20px;
}

.title-page {
	background-color: rgba(255,255,234, 0.6);
	color: #8B1B4D;
	width: 400px;
	padding: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 220px;
	border-radius: 20px;
}

.start {
	background-color: #F09A4B;
	border: none;
	color: #8B1B4D;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 200px;
	height: 50px;
	border-radius: 3px;
	font-size: 15px;
}

.tp-header {
	text-align: center;
	font-size: 40px;
}

.qp-header, .rp-header {
	text-align: center;
	font-size: 20px;
}

.restart {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 60px;
	height: 35px;
	border-radius: 3px;
}

.qp-header, .status {
	background-color: #eeeeee;
	width: 200px;
	padding: 10px;
}

.status {
	margin-top: 10px;
}

form {
	background-color: #a2a2a2;
	color: white;
	width: 400px;
	padding: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
	border-radius: 20px;
}

.q-num, .question, .answers, .feedback {
	border: 1px solid #898989;
	padding: 3px;
	display: block;
}


.q-num {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.next, .submit {
	margin-top: 7px;
	width: 60px;
	height: 35px;
	border-radius: 3px;
}

.hidden {
	display: none;
}
















