body {
	background-color: #cccccc;
	box-sizing: border-box;
}

.title-page, .result-page {
	background-color: #eeeeee;
	width: 400px;
	padding: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	border-radius: 20px;
}

.tp-header, .qp-header, .rp-header {
	text-align: center;
	font-size: 20px;
}

.start, .restart {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 60px;
	height: 35px;
	border-radius: 3px;
}

.qp-header, .status {
	background-color: #eeeeee;
	width: 200px;
	padding: 10px;
}

.status {
	margin-top: 10px;
}

form {
	background-color: #a2a2a2;
	color: white;
	width: 400px;
	padding: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
	border-radius: 20px;
}

.q-num, .question, .answers, .feedback {
	border: 1px solid #898989;
	padding: 3px;
	display: block;
}


.q-num {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.next {
	margin-top: 7px;
	width: 60px;
	height: 35px;
	border-radius: 3px;
}

.hidden {
	display: none;
}
















